* {
    
  box-sizing: border-box;
}

body {
  background-color: #FBFCFC;
  font-size: 2.0em;
}

/*-------------------------------Home------------------------------*/

.container {
  max-width: 1200px;
  height: 100vh;
  width: 75vw;
  margin: 0 auto 0 auto;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  padding: 4% 0 2% 0;
  border-bottom: 1px solid #000;
  
}

.nav-menu__a{
  text-decoration: none;
  color: #808080;
}

.nav-menu__a:hover{
  color:black;
}

.nav-menu__li{
  list-style-type: none;
}

.home{
  display:flex;
  justify-content: space-between;
  padding: 5% 0 0 0;
}

.name, .photo, .speach{
  width: 33%;
}

.photo__wrap{
  padding-top: 7%;
	
}

.photo__img{
  max-width: 100%; 
}

.name__h1{
  font-size: 1.7em; 
  font-weight: bold;
}

.photo__des{
  text-align: center;
  margin-bottom: 3%;
}

.skills__img{
  width:20%;
}

.speach__position{
  position: relative;
  top:30%;
  right:18%;
}

.speach__langswitch{
  position: relative;
  top:10%;
  left:80%;
  width: 100px;
  transform: rotate(90deg);
}

.speach__a{
  text-decoration: none;
  color: #000;
}

 .toggleLang{
  font-weight: bold;
 }
   
@media (min-width:1024px) and (max-width:1279px){
  body{
    font-size: 1.8em;
  }

 .speach__img{
   width: 80%;
 }
}

@media (min-width:800px) and (max-width:1023px){
  body{
    font-size: 1.3em;	  
  }
 .photo__img{
   width:90%; 
 }
 
 .speach__img{
    width: 80%;
 }
}

@media (min-width:360px) and (max-width:799px){
       body{
        font-size:1.5em;
       }
       	.name__h1{
       text-align:center; 
      }
     .nav-menu, .home{
     flex-direction:column;
     align-items:center;
     }
     .speach__langswitch{  
      left:110%;
      bottom:72px; 
    }
    .name, .photo, .speech{
     text-align:center; 
      width:100%;
    }
    .photo__img{
      width: 55%;
    }
   .speach__img{
     display:none;
   }
}

@media(min-width:320px) and (max-width:359px){
   body{
     font-size: 1.5em;
   }
  .name__h1{
    text-align:center;
  }
  .nav-menu, .home{
    flex-direction:column;
    align-items:center;
  }
  .speach__langswitch{
    left: 80%;
    bottom:72px;
  }
  .name, .photo, .speech{
   width:100%;
   text-align:center;
  }
  
  .photo__img{
    width:45%;
  }
  .speach__img{
    display:none;
  }  

}

/*------------------------------About--------------------------------*/

 .about{ 
  background-color: #f2f3f4;
  height: 100vh;
 }

 .about__h1, .skills__h1, .contacts__h1{
  border-bottom: 2px solid #000;
  width: 250px;
  font-size: 1.7em; 
  margin-bottom: 8%; 
  text-align: center;
 }

 .about__title, .skills__title, .contacts__title{
   display:flex;
   justify-content: center;
   padding-top: 8%; 
 }

 .about__p, .skills__p{
  text-align: center;
  padding-bottom:8%;
 }
 


 /*--------------------Skills------------------------------------*/
 .skills__h1,.contacts__h1{
  text-align:center;
 }

 .skills__icons, .contacts__button-wrap, .contacts__icons{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  gap: 3%;
  padding-top: 8%;
 }

@media(min-width:360px) and (max-width: 799px){
  .skills__img{
   width: 45%;  
   margin-bottom:3%;
   }
}

@media(min-width:320px) and (max-width: 359px){
  .skills__img{
    width: 45%;
  }
}
/*-----------------------Contacts----------------------*/
  .contacts__img{
    width: 13%;
    cursor:pointer;
  }

  .contacts__button{
    width: 220px;
    height: 60px;
    border:1px solid #797D7F;
    border-radius: 15px;
    background-color: #000;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 0.5);
    color:#fff;
    cursor: pointer;
    font-size:0.8em;
 }

 .contacts__button:active{
  box-shadow: 3px 3px 5px rgb(0 0 0 / 0.2);
 }

 .contacts__p{
  text-align: center;
  padding-bottom:3%;
 }


@media(min-width:360px) and (max-width:799px){
   .contacts__img{
     width:25%;
   }
}

@media(min-width:320px) and (max-width:359px){
   .contacts__img{
     width:25%;
   }
}




