* {
    
  box-sizing: border-box;
}

body {
  background-color: #FBFCFC;
  font-size: 1.8em;
}

.container {
  max-width: 1200px;
  width: 75vw;
  margin: 0 auto 0 auto;
}

/*-------------------------------Home------------------------------*/
.nav-menu{
  display: flex;
  justify-content: space-between;
  padding: 4% 0 2% 0;
  border-bottom: 1px solid #000;
  
}

.nav-menu__a{
  text-decoration: none;
  color: #808080;
}

.nav-menu__a:hover{
  color:black;
}

.nav-menu__li{
  list-style-type: none;
}

.home{
  display:flex;
  justify-content: space-between;
  padding: 5% 0 5% 0;
}

.photo__wrap{
display:flex;
justify-content: center;
}

.name, .photo, .speach{
  width: 33%;
}

.name__h1{
  font-size: 1.7em; 
  font-weight: bold;
}

.photo__des{
  text-align: center;
  margin-bottom: 3%;
}

.speach__position{
  position: relative;
  top:30%;
  right:18%;
}

.speach__langswitch{
  position: relative;
  top:10%;
  left:80%;
  width: 100px;
  transform: rotate(90deg);
}

.speach__a{
  text-decoration: none;
  color: #000;
}

 .toggleLang{
  font-weight: bold;
 }

/*------------------------------About--------------------------------*/

 .about{
  background-color: #f2f3f4  ;
 }

 .about__h1{
  border-bottom: 1px solid #000;
  width: 200px;
  font-size: 1.7em; 
  margin-bottom: 8%;
 }

 .about__title{
   display:flex;
   justify-content: center;
   padding-top: 4%;
 }

 .about__p{
  text-align: center;
  padding-bottom:8%;
 }

 